# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# Virtual environment
venv/
.venv/
env/
.env/

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*.bak
*~

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Logs and temporary files
*.log
tmp/